<a ng-click="home.logout()">Log Out</a>
<h2>This is a home page!</h2>
<button ng-click="home.checkInstance()">Check instance</button>
{{home.user}}
<button ng-click="home.openProjectForm()">New Project</button>
<button ng-click="home.getProjects()">Get Projects</button>
<div collapse="home.projectFormClosed">
  <div class="well">
    Project Name: <input type="text" ng-model="home.newProjectName"/><br/>
    <button ng-click="home.newProject()">Create Project</button>
  </div>
</div>
<h3>Projects</h3>
<ul>
  <li ng-repeat="project in home.projects">
    <a ui-sref="project({ projectId: project.id})">{{project.name}}</a>
  </li>
</ul>
