<a ui-sref="home">Go back home</a>
<h1>Project detail page!</h1>
<h2>Project Name: {{project.resource.name}}</h2>
<button ng-click="project.openChecklistForm()">New Checklist</button>
<div collapse="project.checklistFormClosed">
  <div class="well">
    Checklist Title: <input type="text" ng-model="project.newChecklistTitle"/></input>
    <button ng-click="project.newChecklist()">Create Checklist</button>
  </div>
</div>
<ul>
  <li ng-repeat="checklist in project.checklists">
    <a ui-sref="checklist({ checklistId: checklist.id })">{{checklist.title}}</a>
  </li>
</ul>
