.masthead {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 35%;
  max-width: 380px;
  padding: 3rem 2rem;
}

.listing {
  margin-left: 35%;
  width: 65%;
  padding-left: 1.5rem;
  max-width: 900px;
  padding-right: 1.5rem;
}
